In [2]:
import pandas as pd
import numpy as np
s = pd.Series(['A','b','B','gaer','AGER',np.nan]) # Series字符串属性
s

0       A
1       b
2       B
3    gaer
4    AGER
5     NaN
dtype: object

In [3]:
s.str.lower() # 小写

0       a
1       b
2       b
3    gaer
4    ager
5     NaN
dtype: object

In [4]:
s.str.upper() # 大写

0       A
1       B
2       B
3    GAER
4    AGER
5     NaN
dtype: object

In [5]:
s.str.len() # 查看长度

0    1.0
1    1.0
2    1.0
3    4.0
4    4.0
5    NaN
dtype: float64

In [6]:
index = pd.Index(['  tang','  yu   ','di'])
index

Index(['  tang', '  yu   ', 'di'], dtype='object')

In [7]:
index.str.strip() # 去空格

Index(['tang', 'yu', 'di'], dtype='object')

In [9]:
index.str.lstrip() # 去左空格

Index(['tang', 'yu   ', 'di'], dtype='object')

In [10]:
index.str.rstrip() # 去右空格

Index(['  tang', '  yu', 'di'], dtype='object')

In [12]:
df = pd.DataFrame(np.random.randn(3,2),columns = ['A a','B b'],index = range(3))
df

        A a       B b
0 -1.392628  1.020082
1  0.866707  0.654731
2 -0.320871  1.360513

In [14]:
df.columns = df.columns.str.replace(' ','_') # 字符替换

In [15]:
df

        A_a       B_b
0 -1.392628  1.020082
1  0.866707  0.654731
2 -0.320871  1.360513

In [16]:
s = pd.Series(['a_b_C','c_d_e','f_g_h'])
s

0    a_b_C
1    c_d_e
2    f_g_h
dtype: object

In [17]:
s.str.split('_')

0    [a, b, C]
1    [c, d, e]
2    [f, g, h]
dtype: object

In [18]:
s.str.split('_',expand = True)

   0  1  2
0  a  b  C
1  c  d  e
2  f  g  h

In [21]:
s.str.split('_',expand = True,n=1)

   0    1
0  a  b_C
1  c  d_e
2  f  g_h

In [22]:
s = pd.Series(['A','Aas','Afgew','Ager','Agre','Ager'])

In [23]:
s

0        A
1      Aas
2    Afgew
3     Ager
4     Agre
5     Ager
dtype: object

In [27]:
s.str.contains('Ag')

0    False
1    False
2    False
3     True
4     True
5     True
dtype: bool

In [28]:
s = pd.Series(['a','a|b','a|c'])
s

0      a
1    a|b
2    a|c
dtype: object

In [30]:
s.str.get_dummies(sep = '|')

   a  b  c
0  1  0  0
1  1  1  0
2  1  0  1