### 对象的增删改查

In [1]:
import pandas as pd

### Series结构的增删改查

In [2]:
data = [10,11,12]
index = ['a','b','c']
s = pd.Series(data = data,index = index) # 通常为一列
s

a    10
b    11
c    12
dtype: int64

### 查操作

In [4]:
s[0]

10

In [5]:
s[0:2]

a    10
b    11
dtype: int64

In [7]:
mask = [True,False,True]
s[mask]

a    10
c    12
dtype: int64

In [8]:
s.loc['b']

11

In [9]:
s.iloc[1]

11

### 改操作

In [10]:
s1 = s.copy()
s1['a'] = 100
s1

a    100
b     11
c     12
dtype: int64

In [14]:
s1.replace(to_replace = 100,value = 101,inplace = True)

In [15]:
s1

a    101
b     11
c     12
dtype: int64

In [16]:
s1.index

Index(['a', 'b', 'c'], dtype='object')

In [17]:
s1.index = ['a','b','d']
s1

a    101
b     11
d     12
dtype: int64

In [18]:
s1.rename(index = {'a':'A'},inplace = True)
s1

A    101
b     11
d     12
dtype: int64

### 增操作

In [30]:
data = [100,110]
index = ['h','k']
s2 = pd.Series(data = data,index = index)
s2

h    100
k    110
dtype: int64

In [36]:
s3 = s1.append(s2)

In [37]:
s3['j'] = 500
s3

A    101
b     11
d     12
j    500
h    100
k    110
dtype: int64

s1.append(s2,ignore_index = False)

In [39]:
s1.append(s2,ignore_index = True)

0    101
1     11
2     12
3    500
4    100
5    110
dtype: int64

### 删操作

In [41]:
s1

A    101
b     11
d     12
j    500
dtype: int64

In [42]:
del s1['A']
s1

b     11
d     12
j    500
dtype: int64

In [44]:
s1.drop(['b','d'],inplace = True)
s1

j    500
dtype: int64

### DataFrame结构的增删改查

In [46]:
data = [[1,2,3],[4,5,6]]
index = ['a','b']
columns = ['A','B','C']

df = pd.DataFrame(data=data,index=index,columns = columns)
df

   A  B  C
a  1  2  3
b  4  5  6

### 查操作是类似的

In [47]:
df['A']

a    1
b    4
Name: A, dtype: int64

In [49]:
df.iloc[0]

A    1
B    2
C    3
Name: a, dtype: int64

In [50]:
df.loc['a']

A    1
B    2
C    3
Name: a, dtype: int64

### 改操作

In [52]:
df.loc['a']['A']

1

In [53]:
df.loc['a']['A'] = 150
df

     A  B  C
a  150  2  3
b    4  5  6

In [54]:
df.index = ['f','g']
df

     A  B  C
f  150  2  3
g    4  5  6

### 增操作

In [55]:
df.loc['c'] = [1,2,3]
df

     A  B  C
f  150  2  3
g    4  5  6
c    1  2  3

In [56]:
data = [[1,2,3],[4,5,6]]
index = ['j','k']
columns = ['A','B','C']

df2 = pd.DataFrame(data=data,index=index,columns = columns)
df2

   A  B  C
j  1  2  3
k  4  5  6

In [60]:
df3 = pd.concat([df,df2],axis = 0)
df3

     A  B  C
f  150  2  3
g    4  5  6
c    1  2  3
j    1  2  3
k    4  5  6

In [61]:
df2['Tang'] = [10,11]
df2

   A  B  C  Tang
j  1  2  3    10
k  4  5  6    11

In [62]:
df4 = pd.DataFrame([[10,11],[12,13]],index=['j','k'],columns=['D','E'])
df4

    D   E
j  10  11
k  12  13

In [63]:
df5 = pd.concat([df2,df4],axis = 1)
df5

   A  B  C  Tang   D   E
j  1  2  3    10  10  11
k  4  5  6    11  12  13

### 删操作

In [65]:
df5.drop(['j'],axis=0,inplace = True)
df5

   A  B  C  Tang   D   E
k  4  5  6    11  12  13

In [66]:
del df5['Tang']
df5

   A  B  C   D   E
k  4  5  6  12  13

In [69]:
df5.drop(['A','B','C'],axis = 1,inplace = True)
df5

    D   E
k  12  13