In [43]:
%matplotlib notebook
import datetime

In [3]:
dt = datetime.datetime(year=2017,month=11,day=24,hour=10,minute=30)
dt

datetime.datetime(2017, 11, 24, 10, 30)

In [4]:
print (dt)

2017-11-24 10:30:00

In [6]:
import pandas as pd
ts = pd.Timestamp('2017-11-24') # 时间戳
ts

Timestamp('2017-11-24 00:00:00')

In [7]:
ts.month # 提取数据

11

In [8]:
ts.day

24

In [9]:
ts + pd.Timedelta('5 days')

Timestamp('2017-11-29 00:00:00')

In [10]:
pd.to_datetime('2017-11-24') # 转换位pd支持的格式

Timestamp('2017-11-24 00:00:00')

In [11]:
pd.to_datetime('24/11/2017')

Timestamp('2017-11-24 00:00:00')

In [12]:
s = pd.Series(['2017-11-24 00:00:00','2017-11-25 00:00:00','2017-11-26 00:00:00'])
s

0    2017-11-24 00:00:00
1    2017-11-25 00:00:00
2    2017-11-26 00:00:00
dtype: object

In [13]:
ts = pd.to_datetime(s)
ts

0   2017-11-24
1   2017-11-25
2   2017-11-26
dtype: datetime64[ns]

In [14]:
ts.dt.hour

0    0
1    0
2    0
dtype: int64

In [15]:
ts.dt.weekday

0    4
1    5
2    6
dtype: int64

In [16]:
pd.Series(pd.date_range(start='2017-11-24',periods = 10,freq = '12H')) # 起始时间，10条序列，间隔12h

0   2017-11-24 00:00:00
1   2017-11-24 12:00:00
2   2017-11-25 00:00:00
3   2017-11-25 12:00:00
4   2017-11-26 00:00:00
5   2017-11-26 12:00:00
6   2017-11-27 00:00:00
7   2017-11-27 12:00:00
8   2017-11-28 00:00:00
9   2017-11-28 12:00:00
dtype: datetime64[ns]

In [18]:
data = pd.read_csv('./data/flowdata.csv')
data.head()

                  Time   L06_347  LS06_347  LS06_348
0  2009-01-01 00:00:00  0.137417  0.097500  0.016833
1  2009-01-01 03:00:00  0.131250  0.088833  0.016417
2  2009-01-01 06:00:00  0.113500  0.091250  0.016750
3  2009-01-01 09:00:00  0.135750  0.091500  0.016250
4  2009-01-01 12:00:00  0.140917  0.096167  0.017000

In [19]:
data['Time'] = pd.to_datetime(data['Time']) # 转换标准格式
data = data.set_index('Time') # 以时间索引
data

                      L06_347  LS06_347  LS06_348
Time
2009-01-01 00:00:00  0.137417  0.097500  0.016833
2009-01-01 03:00:00  0.131250  0.088833  0.016417
2009-01-01 06:00:00  0.113500  0.091250  0.016750
2009-01-01 09:00:00  0.135750  0.091500  0.016250
2009-01-01 12:00:00  0.140917  0.096167  0.017000
2009-01-01 15:00:00  0.099167  0.091667  0.017583
2009-01-01 18:00:00  0.132667  0.090167  0.016250
2009-01-01 21:00:00  0.109417  0.091167  0.016000
2009-01-02 00:00:00  0.133833  0.090417  0.016083
2009-01-02 03:00:00  0.092083  0.088667  0.016000
2009-01-02 06:00:00  0.112917  0.091417  0.016333
2009-01-02 09:00:00  0.141917  0.097083  0.016417
2009-01-02 12:00:00  0.147833  0.101917  0.016417
2009-01-02 15:00:00  0.107917  0.100250  0.016417
2009-01-02 18:00:00  0.143583  0.098417  0.016750
2009-01-02 21:00:00  0.113083  0.098083  0.016833
2009-01-03 00:00:00  0.135833  0.092167  0.016833
2009-01-03 03:00:00  0.083250  0.080000  0.016083
2009-01-03 06:00:00  0.119417  0.080250  0.015417
2009-01-03 09:00:00  0.124583  0.084417  0.015833
2009-01-03 12:00:00  0.091667  0.088250  0.016250
2009-01-03 15:00:00  0.125000  0.084667  0.016500
2009-01-03 18:00:00  0.121583  0.082083  0.015833
2009-01-03 21:00:00  0.107167  0.092500  0.016000
2009-01-04 00:00:00  0.135250  0.091167  0.016333
2009-01-04 03:00:00  0.135583  0.091583  0.016083
2009-01-04 06:00:00  0.117167  0.095167  0.016000
2009-01-04 09:00:00  0.109000  0.105167  0.018000
2009-01-04 12:00:00  0.157417  0.110750  0.018417
2009-01-04 15:00:00  0.160417  0.113750  0.018417
...                       ...       ...       ...
2012-12-29 09:00:00  0.786833  0.786833  0.077000
2012-12-29 12:00:00  0.723750  0.723750  0.072667
2012-12-29 15:00:00  0.690667  0.690667  0.069667
2012-12-29 18:00:00  0.663417  0.663417  0.069667
2012-12-29 21:00:00  0.735917  0.735917  0.072833
2012-12-30 00:00:00  0.753667  0.753667  0.061833
2012-12-30 03:00:00  0.663333  0.663333  0.073667
2012-12-30 06:00:00  0.796833  0.796833  0.095167
2012-12-30 09:00:00  0.916000  0.916000  0.101583
2012-12-30 12:00:00  1.465000  1.465000  0.086833
2012-12-30 15:00:00  1.314167  1.314167  0.085417
2012-12-30 18:00:00  1.239167  1.239167  0.098083
2012-12-30 21:00:00  1.069750  1.069750  0.101417
2012-12-31 00:00:00  0.973333  0.973333  0.085000
2012-12-31 03:00:00  0.850833  0.850833  0.073917
2012-12-31 06:00:00  0.735917  0.735917  0.069417
2012-12-31 09:00:00  0.682750  0.682750  0.066583
2012-12-31 12:00:00  0.651250  0.651250  0.063833
2012-12-31 15:00:00  0.629000  0.629000  0.061833
2012-12-31 18:00:00  0.617333  0.617333  0.060583
2012-12-31 21:00:00  0.846500  0.846500  0.170167
2013-01-01 00:00:00  1.688333  1.688333  0.207333
2013-01-01 03:00:00  2.693333  2.693333  0.201500
2013-01-01 06:00:00  2.220833  2.220833  0.166917
2013-01-01 09:00:00  2.055000  2.055000  0.175667
2013-01-01 12:00:00  1.710000  1.710000  0.129583
2013-01-01 15:00:00  1.420000  1.420000  0.096333
2013-01-01 18:00:00  1.178583  1.178583  0.083083
2013-01-01 21:00:00  0.898250  0.898250  0.077167
2013-01-02 00:00:00  0.860000  0.860000  0.075000

[11697 rows x 3 columns]

In [20]:
data.index

DatetimeIndex(['2009-01-01 00:00:00', '2009-01-01 03:00:00',
               '2009-01-01 06:00:00', '2009-01-01 09:00:00',
               '2009-01-01 12:00:00', '2009-01-01 15:00:00',
               '2009-01-01 18:00:00', '2009-01-01 21:00:00',
               '2009-01-02 00:00:00', '2009-01-02 03:00:00',
               ...
               '2012-12-31 21:00:00', '2013-01-01 00:00:00',
               '2013-01-01 03:00:00', '2013-01-01 06:00:00',
               '2013-01-01 09:00:00', '2013-01-01 12:00:00',
               '2013-01-01 15:00:00', '2013-01-01 18:00:00',
               '2013-01-01 21:00:00', '2013-01-02 00:00:00'],
              dtype='datetime64[ns]', name='Time', length=11697, freq=None)

In [21]:
data = pd.read_csv('./data/flowdata.csv',index_col = 0,parse_dates = True) # true以时间为索引
data.head()

                      L06_347  LS06_347  LS06_348
Time
2009-01-01 00:00:00  0.137417  0.097500  0.016833
2009-01-01 03:00:00  0.131250  0.088833  0.016417
2009-01-01 06:00:00  0.113500  0.091250  0.016750
2009-01-01 09:00:00  0.135750  0.091500  0.016250
2009-01-01 12:00:00  0.140917  0.096167  0.017000

In [22]:
data[pd.Timestamp('2012-01-01 09:00'):pd.Timestamp('2012-01-01 19:00')]

                      L06_347  LS06_347  LS06_348
Time
2012-01-01 09:00:00  0.330750  0.293583  0.029750
2012-01-01 12:00:00  0.295000  0.285167  0.031750
2012-01-01 15:00:00  0.301417  0.287750  0.031417
2012-01-01 18:00:00  0.322083  0.304167  0.038083

In [23]:
data[('2012-01-01 09:00'):('2012-01-01 19:00')]

                      L06_347  LS06_347  LS06_348
Time
2012-01-01 09:00:00  0.330750  0.293583  0.029750
2012-01-01 12:00:00  0.295000  0.285167  0.031750
2012-01-01 15:00:00  0.301417  0.287750  0.031417
2012-01-01 18:00:00  0.322083  0.304167  0.038083

In [25]:
data.tail(10)

                      L06_347  LS06_347  LS06_348
Time
2012-12-31 21:00:00  0.846500  0.846500  0.170167
2013-01-01 00:00:00  1.688333  1.688333  0.207333
2013-01-01 03:00:00  2.693333  2.693333  0.201500
2013-01-01 06:00:00  2.220833  2.220833  0.166917
2013-01-01 09:00:00  2.055000  2.055000  0.175667
2013-01-01 12:00:00  1.710000  1.710000  0.129583
2013-01-01 15:00:00  1.420000  1.420000  0.096333
2013-01-01 18:00:00  1.178583  1.178583  0.083083
2013-01-01 21:00:00  0.898250  0.898250  0.077167
2013-01-02 00:00:00  0.860000  0.860000  0.075000

In [26]:
data['2013']

                      L06_347  LS06_347  LS06_348
Time
2013-01-01 00:00:00  1.688333  1.688333  0.207333
2013-01-01 03:00:00  2.693333  2.693333  0.201500
2013-01-01 06:00:00  2.220833  2.220833  0.166917
2013-01-01 09:00:00  2.055000  2.055000  0.175667
2013-01-01 12:00:00  1.710000  1.710000  0.129583
2013-01-01 15:00:00  1.420000  1.420000  0.096333
2013-01-01 18:00:00  1.178583  1.178583  0.083083
2013-01-01 21:00:00  0.898250  0.898250  0.077167
2013-01-02 00:00:00  0.860000  0.860000  0.075000

In [28]:
data['2012-01':'2012-03']

                      L06_347  LS06_347  LS06_348
Time
2012-01-01 00:00:00  0.307167  0.273917  0.028000
2012-01-01 03:00:00  0.302917  0.270833  0.030583
2012-01-01 06:00:00  0.331500  0.284750  0.030917
2012-01-01 09:00:00  0.330750  0.293583  0.029750
2012-01-01 12:00:00  0.295000  0.285167  0.031750
2012-01-01 15:00:00  0.301417  0.287750  0.031417
2012-01-01 18:00:00  0.322083  0.304167  0.038083
2012-01-01 21:00:00  0.355417  0.346500  0.080917
2012-01-02 00:00:00  1.069333  0.970000  0.071917
2012-01-02 03:00:00  0.886667  0.817417  0.070833
2012-01-02 06:00:00  1.231000  1.153083  0.150750
2012-01-02 09:00:00  1.647500  1.476667  0.076583
2012-01-02 12:00:00  1.111000  1.003833  0.062250
2012-01-02 15:00:00  0.738833  0.727083  0.052417
2012-01-02 18:00:00  0.641250  0.603417  0.047667
2012-01-02 21:00:00  0.541917  0.537250  0.045083
2012-01-03 00:00:00  0.484333  0.490750  0.043000
2012-01-03 03:00:00  0.469417  0.443583  0.041833
2012-01-03 06:00:00  0.472417  0.423500  0.042333
2012-01-03 09:00:00  0.474583  0.416000  0.043333
2012-01-03 12:00:00  0.460083  0.413667  0.043583
2012-01-03 15:00:00  0.792833  0.695917  0.209833
2012-01-03 18:00:00  2.400000  2.260000  0.113583
2012-01-03 21:00:00  1.792500  1.649167  0.070167
2012-01-04 00:00:00  1.011333  0.915000  0.059167
2012-01-04 03:00:00  0.773667  0.719083  0.056583
2012-01-04 06:00:00  0.689417  0.601417  0.049083
2012-01-04 09:00:00  0.567000  0.541000  0.044083
2012-01-04 12:00:00  0.521333  0.492750  0.042500
2012-01-04 15:00:00  0.472333  0.439083  0.041167
...                       ...       ...       ...
2012-03-28 06:00:00  0.079583  0.122333  0.010750
2012-03-28 09:00:00  0.095333  0.120167  0.013250
2012-03-28 12:00:00  0.081500  0.121000  0.011417
2012-03-28 15:00:00  0.090917  0.119583  0.011250
2012-03-28 18:00:00  0.068417  0.122667  0.010500
2012-03-28 21:00:00  0.050583  0.123083  0.009083
2012-03-29 00:00:00  0.059083  0.121417  0.009917
2012-03-29 03:00:00  0.063833  0.121750  0.009250
2012-03-29 06:00:00  0.088500  0.122583  0.010917
2012-03-29 09:00:00  0.104917  0.121250  0.013250
2012-03-29 12:00:00  0.090167  0.121083  0.012083
2012-03-29 15:00:00  0.083667  0.121333  0.011583
2012-03-29 18:00:00  0.076833  0.120750  0.011667
2012-03-29 21:00:00  0.064667  0.119750  0.010667
2012-03-30 00:00:00  0.059083  0.118250  0.009500
2012-03-30 03:00:00  0.065583  0.119083  0.009417
2012-03-30 06:00:00  0.088500  0.122167  0.010750
2012-03-30 09:00:00  0.108500  0.121250  0.013500
2012-03-30 12:00:00  0.097417  0.123083  0.012750
2012-03-30 15:00:00  0.092833  0.121083  0.012167
2012-03-30 18:00:00  0.091083  0.121417  0.012417
2012-03-30 21:00:00  0.088500  0.123250  0.012083
2012-03-31 00:00:00  0.087417  0.123000  0.011000
2012-03-31 03:00:00  0.090833  0.123167  0.012500
2012-03-31 06:00:00  0.099417  0.124167  0.011667
2012-03-31 09:00:00  0.104917  0.125000  0.012417
2012-03-31 12:00:00  0.098333  0.124417  0.011833
2012-03-31 15:00:00  0.091917  0.123917  0.011500
2012-03-31 18:00:00  0.085750  0.121417  0.011000
2012-03-31 21:00:00  0.068417  0.119750  0.010417

[728 rows x 3 columns]

In [30]:
data[data.index.month == 1]

                      L06_347  LS06_347  LS06_348
Time
2009-01-01 00:00:00  0.137417  0.097500  0.016833
2009-01-01 03:00:00  0.131250  0.088833  0.016417
2009-01-01 06:00:00  0.113500  0.091250  0.016750
2009-01-01 09:00:00  0.135750  0.091500  0.016250
2009-01-01 12:00:00  0.140917  0.096167  0.017000
2009-01-01 15:00:00  0.099167  0.091667  0.017583
2009-01-01 18:00:00  0.132667  0.090167  0.016250
2009-01-01 21:00:00  0.109417  0.091167  0.016000
2009-01-02 00:00:00  0.133833  0.090417  0.016083
2009-01-02 03:00:00  0.092083  0.088667  0.016000
2009-01-02 06:00:00  0.112917  0.091417  0.016333
2009-01-02 09:00:00  0.141917  0.097083  0.016417
2009-01-02 12:00:00  0.147833  0.101917  0.016417
2009-01-02 15:00:00  0.107917  0.100250  0.016417
2009-01-02 18:00:00  0.143583  0.098417  0.016750
2009-01-02 21:00:00  0.113083  0.098083  0.016833
2009-01-03 00:00:00  0.135833  0.092167  0.016833
2009-01-03 03:00:00  0.083250  0.080000  0.016083
2009-01-03 06:00:00  0.119417  0.080250  0.015417
2009-01-03 09:00:00  0.124583  0.084417  0.015833
2009-01-03 12:00:00  0.091667  0.088250  0.016250
2009-01-03 15:00:00  0.125000  0.084667  0.016500
2009-01-03 18:00:00  0.121583  0.082083  0.015833
2009-01-03 21:00:00  0.107167  0.092500  0.016000
2009-01-04 00:00:00  0.135250  0.091167  0.016333
2009-01-04 03:00:00  0.135583  0.091583  0.016083
2009-01-04 06:00:00  0.117167  0.095167  0.016000
2009-01-04 09:00:00  0.109000  0.105167  0.018000
2009-01-04 12:00:00  0.157417  0.110750  0.018417
2009-01-04 15:00:00  0.160417  0.113750  0.018417
...                       ...       ...       ...
2012-01-29 09:00:00  0.296833  0.315833  0.034750
2012-01-29 12:00:00  0.294000  0.311917  0.034333
2012-01-29 15:00:00  0.269500  0.308000  0.033000
2012-01-29 18:00:00  0.259417  0.304417  0.031833
2012-01-29 21:00:00  0.254583  0.296250  0.031333
2012-01-30 00:00:00  0.243500  0.287333  0.030917
2012-01-30 03:00:00  0.236250  0.281667  0.030250
2012-01-30 06:00:00  0.230333  0.272167  0.029417
2012-01-30 09:00:00  0.221833  0.263250  0.027833
2012-01-30 12:00:00  0.224250  0.262583  0.029250
2012-01-30 15:00:00  0.206000  0.256750  0.028917
2012-01-30 18:00:00  0.200417  0.258417  0.028250
2012-01-30 21:00:00  0.192750  0.251083  0.027250
2012-01-31 00:00:00  0.191250  0.247417  0.025917
2012-01-31 03:00:00  0.181083  0.241583  0.025833
2012-01-31 06:00:00  0.188750  0.236750  0.026000
2012-01-31 09:00:00  0.191000  0.231250  0.025583
2012-01-31 12:00:00  0.183333  0.227167  0.025917
2012-01-31 15:00:00  0.163417  0.221000  0.023750
2012-01-31 18:00:00  0.157083  0.220667  0.023167
2012-01-31 21:00:00  0.160083  0.214750  0.023333
2013-01-01 00:00:00  1.688333  1.688333  0.207333
2013-01-01 03:00:00  2.693333  2.693333  0.201500
2013-01-01 06:00:00  2.220833  2.220833  0.166917
2013-01-01 09:00:00  2.055000  2.055000  0.175667
2013-01-01 12:00:00  1.710000  1.710000  0.129583
2013-01-01 15:00:00  1.420000  1.420000  0.096333
2013-01-01 18:00:00  1.178583  1.178583  0.083083
2013-01-01 21:00:00  0.898250  0.898250  0.077167
2013-01-02 00:00:00  0.860000  0.860000  0.075000

[1001 rows x 3 columns]

In [32]:
data[(data.index.hour > 8) & (data.index.hour <12)]

                      L06_347  LS06_347  LS06_348  month
Time
2009-01-01 09:00:00  0.135750  0.091500  0.016250      1
2009-01-02 09:00:00  0.141917  0.097083  0.016417      1
2009-01-03 09:00:00  0.124583  0.084417  0.015833      1
2009-01-04 09:00:00  0.109000  0.105167  0.018000      1
2009-01-05 09:00:00  0.161500  0.114583  0.021583      1
2009-01-06 09:00:00  0.100083  0.065583  0.015500      1
2009-01-07 09:00:00  0.138500  0.093917  0.015000      1
2009-01-08 09:00:00  0.101333  0.066417  0.016833      1
2009-01-09 09:00:00  0.061750  0.059417  0.015167      1
2009-01-10 09:00:00  0.193500  0.147000  0.013000      1
2009-01-11 09:00:00  0.080250  0.077417  0.013583      1
2009-01-12 09:00:00  0.132500  0.089167  0.016833      1
2009-01-13 09:00:00  0.196500  0.192667  0.045333      1
2009-01-14 09:00:00  0.322917  0.299250  0.029333      1
2009-01-15 09:00:00  0.210750  0.167500  0.025000      1
2009-01-16 09:00:00  0.157833  0.153917  0.023000      1
2009-01-17 09:00:00  0.218667  0.173333  0.022917      1
2009-01-18 09:00:00  0.633000  0.745667  0.077000      1
2009-01-19 09:00:00  1.042167  1.398500  0.133667      1
2009-01-20 09:00:00  0.753000  0.773000  0.065583      1
2009-01-21 09:00:00  0.398500  0.398500  0.042500      1
2009-01-22 09:00:00  0.362417  0.351250  0.036667      1
2009-01-23 09:00:00  8.237500  8.560000  0.383750      1
2009-01-24 09:00:00  1.857500  2.356667  0.099750      1
2009-01-25 09:00:00  0.575583  0.657750  0.059000      1
2009-01-26 09:00:00  0.305417  0.279917  0.044167      1
2009-01-27 09:00:00  0.279917  0.274917  0.032500      1
2009-01-28 09:00:00  0.287083  0.253833  0.031083      1
2009-01-29 09:00:00  0.260750  0.221833  0.028167      1
2009-01-30 09:00:00  0.242000  0.200167  0.024750      1
...                       ...       ...       ...    ...
2012-12-03 09:00:00  0.144500  0.144500  0.074667     12
2012-12-04 09:00:00  0.292083  0.292083  0.041083     12
2012-12-05 09:00:00  0.775250  0.775250  0.075667     12
2012-12-06 09:00:00  0.467917  0.467917  0.060750     12
2012-12-07 09:00:00  0.509833  0.509833  0.096583     12
2012-12-08 09:00:00  0.457583  0.457583  0.064667     12
2012-12-09 09:00:00  0.288750  0.288750  0.053167     12
2012-12-10 09:00:00  0.289250  0.289250  0.060083     12
2012-12-11 09:00:00  0.226083  0.226083  0.037833     12
2012-12-12 09:00:00  0.201333  0.201333  0.035167     12
2012-12-13 09:00:00  0.175750  0.175750  0.034500     12
2012-12-14 09:00:00  0.165833  0.165833  0.035417     12
2012-12-15 09:00:00  0.576833  0.576833  0.065083     12
2012-12-16 09:00:00  0.381750  0.381750  0.046417     12
2012-12-17 09:00:00  0.305833  0.305833  0.050917     12
2012-12-18 09:00:00  0.302167  0.302167  0.070667     12
2012-12-19 09:00:00  0.282917  0.282917  0.041333     12
2012-12-20 09:00:00  0.306083  0.306083  0.068250     12
2012-12-21 09:00:00  0.550333  0.550333  0.059250     12
2012-12-22 09:00:00  0.378833  0.378833  0.069667     12
2012-12-23 09:00:00  5.917500  5.917500  0.286583     12
2012-12-24 09:00:00  1.638333  1.638333  0.151333     12
2012-12-25 09:00:00  1.719167  1.719167  0.146250     12
2012-12-26 09:00:00  1.354167  1.354167  0.127583     12
2012-12-27 09:00:00  1.076667  1.076667  0.103000     12
2012-12-28 09:00:00  0.961500  0.961500  0.092417     12
2012-12-29 09:00:00  0.786833  0.786833  0.077000     12
2012-12-30 09:00:00  0.916000  0.916000  0.101583     12
2012-12-31 09:00:00  0.682750  0.682750  0.066583     12
2013-01-01 09:00:00  2.055000  2.055000  0.175667      1

[1462 rows x 4 columns]

In [33]:
data.between_time('08:00','12:00')

                      L06_347  LS06_347  LS06_348  month
Time
2009-01-01 09:00:00  0.135750  0.091500  0.016250      1
2009-01-01 12:00:00  0.140917  0.096167  0.017000      1
2009-01-02 09:00:00  0.141917  0.097083  0.016417      1
2009-01-02 12:00:00  0.147833  0.101917  0.016417      1
2009-01-03 09:00:00  0.124583  0.084417  0.015833      1
2009-01-03 12:00:00  0.091667  0.088250  0.016250      1
2009-01-04 09:00:00  0.109000  0.105167  0.018000      1
2009-01-04 12:00:00  0.157417  0.110750  0.018417      1
2009-01-05 09:00:00  0.161500  0.114583  0.021583      1
2009-01-05 12:00:00  0.115667  0.111750  0.020167      1
2009-01-06 09:00:00  0.100083  0.065583  0.015500      1
2009-01-06 12:00:00  0.122667  0.082917  0.017333      1
2009-01-07 09:00:00  0.138500  0.093917  0.015000      1
2009-01-07 12:00:00  0.139250  0.094667  0.016417      1
2009-01-08 09:00:00  0.101333  0.066417  0.016833      1
2009-01-08 12:00:00  0.115167  0.077000  0.014917      1
2009-01-09 09:00:00  0.061750  0.059417  0.015167      1
2009-01-09 12:00:00  0.104667  0.069250  0.016667      1
2009-01-10 09:00:00  0.193500  0.147000  0.013000      1
2009-01-10 12:00:00  0.147083  0.102083  0.018750      1
2009-01-11 09:00:00  0.080250  0.077417  0.013583      1
2009-01-11 12:00:00  0.115083  0.076833  0.013833      1
2009-01-12 09:00:00  0.132500  0.089167  0.016833      1
2009-01-12 12:00:00  0.139000  0.094417  0.017083      1
2009-01-13 09:00:00  0.196500  0.192667  0.045333      1
2009-01-13 12:00:00  0.529583  0.597417  0.104917      1
2009-01-14 09:00:00  0.322917  0.299250  0.029333      1
2009-01-14 12:00:00  0.300083  0.270167  0.028167      1
2009-01-15 09:00:00  0.210750  0.167500  0.025000      1
2009-01-15 12:00:00  0.108500  0.105333  0.024833      1
...                       ...       ...       ...    ...
2012-12-18 09:00:00  0.302167  0.302167  0.070667     12
2012-12-18 12:00:00  0.418500  0.418500  0.062250     12
2012-12-19 09:00:00  0.282917  0.282917  0.041333     12
2012-12-19 12:00:00  0.279333  0.279333  0.039750     12
2012-12-20 09:00:00  0.306083  0.306083  0.068250     12
2012-12-20 12:00:00  0.666250  0.666250  0.102917     12
2012-12-21 09:00:00  0.550333  0.550333  0.059250     12
2012-12-21 12:00:00  0.525417  0.525417  0.054250     12
2012-12-22 09:00:00  0.378833  0.378833  0.069667     12
2012-12-22 12:00:00  0.992583  0.992583  0.266750     12
2012-12-23 09:00:00  5.917500  5.917500  0.286583     12
2012-12-23 12:00:00  4.283333  4.283333  0.275750     12
2012-12-24 09:00:00  1.638333  1.638333  0.151333     12
2012-12-24 12:00:00  1.395833  1.395833  0.130750     12
2012-12-25 09:00:00  1.719167  1.719167  0.146250     12
2012-12-25 12:00:00  1.464167  1.464167  0.119417     12
2012-12-26 09:00:00  1.354167  1.354167  0.127583     12
2012-12-26 12:00:00  1.459167  1.459167  0.108333     12
2012-12-27 09:00:00  1.076667  1.076667  0.103000     12
2012-12-27 12:00:00  1.244167  1.244167  0.195417     12
2012-12-28 09:00:00  0.961500  0.961500  0.092417     12
2012-12-28 12:00:00  0.888417  0.888417  0.115917     12
2012-12-29 09:00:00  0.786833  0.786833  0.077000     12
2012-12-29 12:00:00  0.723750  0.723750  0.072667     12
2012-12-30 09:00:00  0.916000  0.916000  0.101583     12
2012-12-30 12:00:00  1.465000  1.465000  0.086833     12
2012-12-31 09:00:00  0.682750  0.682750  0.066583     12
2012-12-31 12:00:00  0.651250  0.651250  0.063833     12
2013-01-01 09:00:00  2.055000  2.055000  0.175667      1
2013-01-01 12:00:00  1.710000  1.710000  0.129583      1

[2924 rows x 4 columns]

In [34]:
data.head()

                      L06_347  LS06_347  LS06_348  month
Time
2009-01-01 00:00:00  0.137417  0.097500  0.016833      1
2009-01-01 03:00:00  0.131250  0.088833  0.016417      1
2009-01-01 06:00:00  0.113500  0.091250  0.016750      1
2009-01-01 09:00:00  0.135750  0.091500  0.016250      1
2009-01-01 12:00:00  0.140917  0.096167  0.017000      1

In [35]:
data.resample('D').mean().head() # “D”默认以一天为间隔

             L06_347  LS06_347  LS06_348  month
Time
2009-01-01  0.125010  0.092281  0.016635      1
2009-01-02  0.124146  0.095781  0.016406      1
2009-01-03  0.113562  0.085542  0.016094      1
2009-01-04  0.140198  0.102708  0.017323      1
2009-01-05  0.128812  0.104490  0.018167      1

In [36]:
data.resample('D',how='mean').head()

C:\Anaconda3\lib\site-packages\ipykernel\__main__.py:1: FutureWarning: how in .resample() is deprecated
the new syntax is .resample(...).mean()
  if __name__ == '__main__':

             L06_347  LS06_347  LS06_348  month
Time
2009-01-01  0.125010  0.092281  0.016635      1
2009-01-02  0.124146  0.095781  0.016406      1
2009-01-03  0.113562  0.085542  0.016094      1
2009-01-04  0.140198  0.102708  0.017323      1
2009-01-05  0.128812  0.104490  0.018167      1

In [37]:
data.resample('D').max().head()

             L06_347  LS06_347  LS06_348  month
Time
2009-01-01  0.140917  0.097500  0.017583      1
2009-01-02  0.147833  0.101917  0.016833      1
2009-01-03  0.135833  0.092500  0.016833      1
2009-01-04  0.160417  0.113750  0.018417      1
2009-01-05  0.161500  0.115167  0.021583      1

In [38]:
data.resample('3D').mean().head()

             L06_347  LS06_347  LS06_348  month
Time
2009-01-01  0.120906  0.091201  0.016378    1.0
2009-01-04  0.121594  0.091708  0.016670    1.0
2009-01-07  0.097042  0.070740  0.014479    1.0
2009-01-10  0.115941  0.086340  0.014545    1.0
2009-01-13  0.346962  0.364549  0.034198    1.0

In [41]:
data.resample('M').mean().head()

             L06_347  LS06_347  LS06_348  month
Time
2009-01-31  0.517864  0.536660  0.045597      1
2009-02-28  0.516847  0.529987  0.047238      2
2009-03-31  0.373157  0.383172  0.037508      3
2009-04-30  0.163182  0.129354  0.021356      4
2009-05-31  0.178588  0.160616  0.020744      5

In [44]:

data.resample('M').mean().plot()