In [1]:
import pandas as pd
# http://pandas.pydata.org/pandas-docs/stable/generated/pandas.set_option.html?highlight=set_option#pandas.set_option

In [2]:
pd.get_option('display.max_rows') # 查看最大显示程度

60

In [4]:
pd.set_option('display.max_rows',6) # 改为6

In [5]:
pd.Series(index = range(0,100))

0    NaN
1    NaN
2    NaN
      ..
97   NaN
98   NaN
99   NaN
Length: 100, dtype: float64

In [6]:
pd.get_option('display.max_columns')

20

In [7]:
pd.set_option('display.max_columns',30)

In [8]:
pd.DataFrame(columns = range(0,30))

Empty DataFrame
Columns: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29]
Index: []

In [15]:
pd.get_option('display.max_colwidth')

50

In [17]:
pd.set_option('display.max_colwidth',100)

In [18]:
pd.Series(index = ['A'],data=['t'*70])

A    tttttttttttttttttttttttttttttttttttttttttttttttttttttttttttttttttttttt
dtype: object

In [20]:
pd.get_option('display.precision') # 小数点后位数

6

In [22]:
pd.Series(data = [1.23456789236546])

0    1.234568
dtype: float64

In [24]:
pd.set_option('display.precision',5)
pd.Series(data = [1.23456789236546])

0    1.23457
dtype: float64